<header>
  <div class="logo"></div>
  <h1>Subscribe to your city.</h1>
  <p>Get updates on the topics and areas you care about in Seattle.<p>
  <div id="start" class="bigButton startButton">Get started</div>
</header>

<section id="step1">
  <div class="instruction">
    <h2>1. Select a topic.</h2>
    <h3>Choose one to start, and you can add more later.</h3>
  </div>

  <div class="publishers">
    <% @publishers.each do |publisher| %>
    <div class="publisher <%= 'soon' unless publisher.active %>" data-publisher-id="<%= publisher.id %>" data-publisher-title="<%= publisher.title %>" data-publisher-city="<%= publisher.city %>">
      <!-- <div class="city"><%= publisher.city %></div> -->
      <div class="title"><%= publisher.title %></div>
      <img src="/img/icons/<%= publisher.icon %>">
    </div>
    <% end %>
  </div>
</section>

<section id="step2">
  <div class="instruction">
    <h2>2. What's your address?</h2>
    <h3>Your home, your work, or wherever's important to you.</h3>
    <!-- <h3>We'll show you a 1/2 mile radius around your address.</h3> -->
    <form id="geolocateForm">
      <input type="text" id="geolocate" placeholder="Your address"></input>
      <span class="bigSelect">
        <select id="geolocate">
          <option value="addressRadius">1/2-mile radius</option>
          <option value="addressRadius">1 mile radius</option>
          <option value="addressRadius">2 mile radius</option>
          <option value="addressRadius">3 mile radius</option>
        </select>
      </span>
      <input type="submit" style="display:none"  />
      <div class="bigButton greenButton geolocateButton">Find me</div>
    </form>

  </div>

  <div id="map"></div>
  <div class="bigButton orangeButton mapButton">Done with map</div>
</section>

<section id="step3">
  <div class="instruction">
    <h2>3. How do you want to be notified?</h2>
    <h3>Only text for now, but we're expanding to email soon.</h3>
  </div>

  <div class="contactButtons">
    <div class="bigButton orangeButton smsButton"><span>text</span></div>
    <div class="bigButton greenButton emailButton"><span>email</span></div>
  </div>

  <div class="extraInfo" style="display:none">
    <form id="subscribeForm">
      <input type="text" class="phoneNumber" placeholder="phone number"></input>
      <input type="submit" style="display:none"  />
    </form>
    <div class="bigButton orangeButton subscribeButton">subscribe</div>
  <div>
</section>

<section id="confirmation" style="display:none">
  <p>You're subscribed to <strong class="confirmationType">traffic incidents</strong> in your area!</p>
  <p>Look out for your confirmation text shortly.</p>
  <div class="bigButton greenButton resetButton">sign up for another topic</div>
</section>

<footer></footer>
