<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="logo"></div>
    </div>
    <div class="row subscribe">
      <h1 class="col-md-12">Subscribe to
        <span class="dropdown">
          <select id="select-city">
            <option value="your-city"><span id="your-city">your city</span></option>
            <option value="your-city">add my city</option>
            <option value="https://citygram-staging.herokuapp.com/">Charlotte</option>
            <option value="https://seattlegram.herokuapp.com/">Seattle</option>
            <option value="https://lexgram.herokuapp.com/">Lexington</option>
          </select>
        </span>
      </h1>
    </div>
    <div class="row">
      <h2 class="col-md-4">Get updates on the topics and areas you care about</h2>
    </div>
  </div>
</div>

<section id="intro">
  <div class="container">
    <div class="row">
      <span class="intro-q">Curious about the construction on your street?</span>
      <span class="intro-q">How about the new restaurant going in down the block?</span>
      <span class="intro-q">Want to know when there's a code violation in your area?</span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Introducing Citygram</h3>
        <p>Citygram is a notifications platform for subscribing to your city, whether it's foreclosures in your area or building permits along your commute. Sign up to find out about the things that matter to you where they matter to you.</p>
      </div>
      <div class="col-md-6">
        <h3>How it works</h3>
        <p>Citygram is a web application that can be hooked up to your city's open data platform. To create the notifications, the application regularly checks for new data and transforms it into human speak according to a template you define.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-bubble">
        <img src="<%= asset_path 'text-bubble.png' %>">
      </div>
      <div class="col-md-10 contact-form">
        <form action="https://docs.google.com/a/codeforamerica.org/forms/d/1JB1rrofsW3H310KSbmWXRiLjUbVKU06dUiGvratQRfw/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
          <p>I want a Citygram in <span class="city">
            <input name="entry.2092787615" placeholder="MY CITY" type="text"></span> . My name is <span class="name">
            <input name="entry.310801395" placeholder="FULL NAME" type="text"></span> and my email is <span class="email">
             <input name="entry.1324690126" placeholder="YOU@EMAIL" type="text"></span>. Some topics I'd want: <span class="ideas">
             <input name="entry.311709427" placeholder="ANY IDEAS HERE" type="text"></span>.</p>
          <div class="submit-btn" onclick="$('#ss-form').submit()">Submit</div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12"><p>a project of</p></div>
      <div class="col-md-6 col-sm-12">
        <a href="http://www.codeforamerica.org/"><img src="<%= asset_path 'cfa-icon.png' %>"></a>
        <img src="<%= asset_path 'plus-1-icon.png' %>">
        <a href="http://charmeck.org/Pages/default.aspx"><img src="<%= asset_path 'charlotte-icon.png' %>"></a>
        <img src="<%= asset_path 'plus-2-icon.png' %>">
        <a href="http://www.lexingtonky.gov/"><img src="<%= asset_path 'lexington-icon.png' %>"></a>
      </div>
      <div class="col-md-2 pull-right hidden-xs">
        <a href="https://github.com/codeforamerica/citygram"><img class="pull-right" src="<%= asset_path 'github-icon.png' %>"></a>
      </div>
    </div>
  </div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- take me to my city! -->
<script>

var app = {};
app.scrollToElement = function(el) {
  $('html,body').animate({
    scrollTop: el.offset().top
  }, 800);
};

$("#select-city").change(function(e) {
  var value = $(e.target).val();
  if (value === "your-city") {
    app.scrollToElement($("#ss-form"));
  } else {
    window.location.href = value;
  }
});
</script>
