<header>
  <div class="logo"></div>
  <h1>Subscribe to your city.</h1>
  <p>Get updates on the topics and areas you care about.<p>
  <div id="start" class="bigButton startButton">start</div>
</header>

<section id="step1">
  <div class="instruction">
    <h2>I want updates about:</h2>
    <h3>SELECT YOUR TOPIC <span>(STEP 1 OF 3)</span></h3>
  </div>

  <div class="publishers">
    <% @publishers.each do |publisher| %>
    <div class="publisher <%= 'soon' unless publisher.active %>" data-publisher-id="<%= publisher.id %>">
      <div class="city"><%= publisher.city %></div>
      <div class="title"><%= publisher.title %></div>
      <img src="/img/icons/<%= publisher.icon %>">
    </div>
    <% end %>
  </div>
</section>

<section id="step2">
  <div class="instruction">
    <h2>In my area:</h2>
    <h3>DRAW ON THE MAP <span>(STEP 2 OF 3)</span></h3>
    <form id="geolocateForm">
      <input type="text" id="geolocate" placeholder="type address to center"></input>
      <input type="submit" style="display:none"  />
    </form>

  </div>

  <div id="map">
    <div class="drawHint">Click here to start drawing.</div>
  </div>
  <div class="bigButton orangeButton mapButton">I'm happy with the area above.</div>
</section>

<section id="step3">
  <div class="instruction">
    <h2>Via:</h2>
    <h3>CHOOSE YOUR DELIVERY METHOD <span>(STEP 3 OF 3)</span></h3>
  </div>

  <div class="contactButtons">
    <div class="bigButton orangeButton smsButton"><span>text</span></div>
    <div class="bigButton greenButton emailButton"><span>email</span></div>
  </div>

  <div class="extraInfo" style="display:none">
    <form id="subscribeForm">
      <input type="text" class="phoneNumber" placeholder="phone number"></input>
      <input type="submit" style="display:none"  />
    </form>
    <div class="bigButton orangeButton subscribeButton">subscribe</div>
  <div>
</section>

<section id="confirmation" style="display:none">
  <p>You're subscribed to <strong>traffic incidents!</strong></p>
  <p>Look out for your confirmation text shortly.</p>
  <div class="bigButton greenButton resetButton">sign up for another topic</div>
</section>

<footer></footer>
