<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2"><p>a project of</p></div>
      <div class="col-xs-12 col-md-9">
        <a href="http://www.codeforamerica.org/"><img src="<%= asset_path 'footer/cfa-icon.png' %>"></a>
        <img src="<%= asset_path 'footer/plus-icon.png' %>">
        <a href="http://charmeck.org/Pages/default.aspx"><img src="<%= asset_path 'footer/charlotte-icon.png' %>"></a>
        <img src="<%= asset_path 'footer/plus-icon.png' %>">
        <a href="http://www.lexingtonky.gov/"><img src="<%= asset_path 'footer/lexington-icon.png' %>"></a>
        <img src="<%= asset_path 'footer/plus-icon.png' %>">
        <a href="http://beta.nyc"><img src="<%= asset_path 'footer/betanyc-icon.png' %>"></a>
      </div>
      <div class="col-xs-0 col-md-1 text-right hidden-xs hidden-sm">
        <a href="https://github.com/codeforamerica/citygram"><img src="<%= asset_path 'footer/github-icon.png' %>"></a>
      </div>
      <div class="col-xs-12 col-md-0 visible-xs visible-sm hidden-md">
        <a href="https://github.com/codeforamerica/citygram"><img src="<%= asset_path 'footer/github-icon.png' %>"></a>
      </div>
    </div>
  </div>
</footer>

<div class="award">
  <div class="col-xs-12 col-md-9">
    <a href="http://awards.codeforamerica.org/2015/winner/Citygram/"><img src="<%= asset_path 'footer/cfa-award-logo-purple-2.png' %>"></a>
  </div>
</div>    
